In [35]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [36]:
df = pd.read_excel("data/SeoulBikeData.xlsx")
df

,Date,Hour,Temperature(∞C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(∞C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day,Rented Bike Count
0,2017-12-01,0,-5.2,37.0,2.2,"2,000",-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,254
1,2017-12-01,1,-5.5,NaN,0.8,"2,000",-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,204
2,2017-12-01,2,-6.0,39.0,NaN,"2,000",-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes,173
3,2017-12-01,3,-6.2,40.0,0.9,"2,000",-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,107
4,2017-12-01,4,-6.0,36.0,2.3,"2,000",-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34.0,2.6,"1,894",-10.3,0.0,0.0,0.0,Autumn,No Holiday,Yes,1003
8756,2018-11-30,20,3.4,37.0,2.3,"2,000",-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes,764
8757,2018-11-30,21,2.6,39.0,0.3,"1,968",-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes,694
8758,2018-11-30,22,NaN,41.0,1.0,"1,859",-9.8,0.0,0.0,0.0,Autumn,No Holiday,Yes,712
8759,2018-11-30,23,1.9,43.0,1.3,"1,909",-9.3,0.0,0.0,0.0,Autumn,No Holiday,Yes,584

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8760 non-null   datetime64[ns]
 1   Hour                       8760 non-null   int64
 2   Temperature(∞C)            8322 non-null   float64
 3   Humidity(%)                8322 non-null   float64
 4   Wind speed (m/s)           8322 non-null   float64
 5   Visibility (10m)           8760 non-null   object
 6   Dew point temperature(∞C)  8760 non-null   float64
 7   Solar Radiation (MJ/m2)    8760 non-null   float64
 8   Rainfall(mm)               8760 non-null   float64
 9   Snowfall (cm)              8760 non-null   float64
 10  Seasons                    8760 non-null   object
 11  Holiday                    8760 non-null   object
 12  Functioning Day            8760 non-null   object
 13  Rented Bike Count          8760 non-null   int64
dtypes: datetime64[ns](1), float64(7), int64(2), object(4)
memory usage: 958.3+ KB

In [38]:
df.describe()

,Date,Hour,Temperature(∞C),Humidity(%),Wind speed (m/s),Dew point temperature(∞C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Rented Bike Count
count,8760,8760.000000,8322.000000,8322.000000,8322.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,2018-05-31 23:59:59.999999744,11.500000,12.902547,58.528238,1.729801,4.073813,0.569111,0.148687,0.075068,704.602055
min,2017-12-01 00:00:00,0.000000,-17.800000,0.000000,0.000000,-30.600000,0.000000,0.000000,0.000000,0.000000
25%,2018-03-02 00:00:00,5.750000,3.500000,42.250000,0.900000,-4.700000,0.000000,0.000000,0.000000,191.000000
50%,2018-06-01 00:00:00,11.500000,13.800000,57.000000,1.500000,5.100000,0.010000,0.000000,0.000000,504.500000
75%,2018-08-31 00:00:00,17.250000,22.500000,74.000000,2.300000,14.800000,0.930000,0.000000,0.000000,1065.250000
max,2018-11-30 00:00:00,23.000000,39.400000,700.000000,7.400000,27.200000,3.520000,35.000000,8.800000,3556.000000
std,NaN,6.922582,11.958612,23.212680,1.038008,13.060369,0.868746,1.128193,0.436746,644.997468

In [39]:
MissingValues= df.isnull().sum()
MissingValues

Date                           0
Hour                           0
Temperature(∞C)              438
Humidity(%)                  438
Wind speed (m/s)             438
Visibility (10m)               0
Dew point temperature(∞C)      0
Solar Radiation (MJ/m2)        0
Rainfall(mm)                   0
Snowfall (cm)                  0
Seasons                        0
Holiday                        0
Functioning Day                0
Rented Bike Count              0
dtype: int64

In [42]:
null_columns = df.columns[df.isna().any()]
for c in null_columns:
    if df[c].dtype != 'object':
        value = df[c].mean()
    else:
        value = df[c].mode()[0]
        
    df[c] = df[c].fillna(value)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8760 non-null   datetime64[ns]
 1   Hour                       8760 non-null   int64
 2   Temperature(∞C)            8760 non-null   float64
 3   Humidity(%)                8760 non-null   float64
 4   Wind speed (m/s)           8760 non-null   float64
 5   Visibility (10m)           8760 non-null   object
 6   Dew point temperature(∞C)  8760 non-null   float64
 7   Solar Radiation (MJ/m2)    8760 non-null   float64
 8   Rainfall(mm)               8760 non-null   float64
 9   Snowfall (cm)              8760 non-null   float64
 10  Seasons                    8760 non-null   object
 11  Holiday                    8760 non-null   object
 12  Functioning Day            8760 non-null   object
 13  Rented Bike Count          8760 non-null   int64
dtypes: datetime64[ns](1), float64(7), int64(2), object(4)
memory usage: 958.3+ KB